<%- include('header') %>

<%- include('message') %>
<div class="p-3">
    <h1>Tárgy hozzáadása</h1>
    <form action="/loans/hozzaadas" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" placeholder="">
            <label for="title">Cím</label>
        </div>
        <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="type">
            <option selected>Tipus választása:</option>
            <option value="könyv">Könyv</option>
            <option value="film">Film</option>
        </select>
          
        <input class="btn btn-primary mb-3" type="submit" value="Add">
    
    </form>

    <h3>Összes kölcsönzés</h3>
    <hr>
    <table class="table table-striped table-hovered"> 
        <thead>
            <tr>
                <th>Felhasználó Neve</th>
                <th>Cím</th>
                <th>Kölcsönzés kezdete</th>
                <th>Visszahozás dátuma</th>
                <th class="text-end">Müveletek</th>
            </tr>
        </thead>
       <tbody>
       <% rentals.forEach(function(rental) { %>
       <tr>
           <td><%= rental.name %></td>
           <td><%= rental.title %></td>
           <td><%= rental.rental_date %></td>
           <td><%= rental.return_date %></td>
           <input type="hidden" name="rentalID" value="<%= rental.ID %>">
           <td class="text-end">
               <div style="display: inline-block; margin-right: 10px;">
                   <form action="/loans/delete/<%= rental.ID %>" method="POST">
                       <button type="submit" class="btn btn-danger mb-3">Törlés</button>
                   </form>
               </div>
               <% if (rental.return_date == undefined) { %>
               <div style="display: inline-block;">
                   <form action="/loans/visszahozatal" method="post">
                       <input type="hidden" name="cardID" value="<%= rental.itemID %>">
                       <input type="hidden" name="rentalID" value="<%= rental.ID %>">
                       <input class="btn btn-primary mb-3" type="submit" value="Visszavétel">
                   </form>
               </div>
               <% } else { %>
               <div style="display: inline-block;">
                   <input class="btn btn-primary mb-3" type="button" value="Visszavétel" disabled>
               </div>
               <% } %>
           </td>
       </tr>
       <% }); %>
       </tbody>
    </table>
</div>


<%- include('footer') %>