<%- include('header') %>

<%- include('message') %>

<table>
    <thead>
        <tr>
            <th>Cím</th>
            <th>Kölcsönzés kezdete</th>
            <th>Visszahozás dátuma</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <% rentals.forEach(function(rental) { %>
            <tr>
                <td><%= rental.title %></td>
                <td><%= rental.rental_date %></td>
                <td><%= rental.return_date %></td>
                <form action="/loans/visszahozatal" method="post">
                 <td><input class="btn btn-primary mb-3" type="submit" value="Visszavétel"></td>   
                </form>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('footer') %>